* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(217, 54%, 11%);
}

.main {
    /* position: absolute; */
    /* left: 213.5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1440px;
    height: 100vh; */
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(216, 50%, 16%);
    padding: 15px;
    width: 250px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 10px 20px hsl(215, 32%, 27%);
}

.pic {
    width: 250px;
    height: 250px;
    background: url(./images/image-equilibrium.jpg) center no-repeat;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.pic:hover {
    background: linear-gradient(hsl(178, 100%, 50%, 60%), hsl(178, 100%, 50%, 60%)), url(./images/image-equilibrium.jpg) center no-repeat;
    background-size: cover;
    opacity: 1;
}

.eye {
    width: 250px;
    height: 250px;
    background: url(./images/icon-view.svg) center no-repeat;
    opacity: 0;
    z-index: 3;
}

.eye:hover {
    border-radius: 10px;
    opacity: 1;
}

.info p {
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 15px;
}

.info a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 18px;
}

.info a:hover {
    color: hsl(178, 100%, 50%);
}

.eth {
    position: absolute;
    left: 15px;
    font-family: 'Outfit', sans-serif;
    color: hsl(178, 100%, 50%);
    margin-top: 5px;
}

.eth p {
    margin-left: 20px;
    font-size: 16px;
}

.eth::before {
    content: url(./images/icon-ethereum.svg);
    position: absolute;   
}

.due {
    position: absolute;
    right: 20px;
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    margin-top: 5px;
}

.due p {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 300;
}

.due::before {
    content: url(./images/icon-clock.svg);
    position: absolute;
}

.photo {
    background: url(./images/image-avatar.png) center no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
    left: 0px;
    top: 55px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.author p {
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    position: absolute;
    bottom: 25px;
    right: 45px;
    font-size: 16px;
    font-weight: 300;
}

.author a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.author a:hover {
    color: hsl(178, 100%, 50%);
}

.line {
    border: 1px solid hsl(0, 0%, 100%);
    position: relative;
    top: 45px;
    opacity: .1;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
    color: hsl(0, 0%, 100%);
    position: absolute;
    bottom: 20px;
}

.attribution p {
    margin: 5px;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

@media screen and (max-width: 375px) {
    .card {
        width: 200px;
        height: 400px;
    }

    .pic {
        width: 200px;
        height: 200px;
    }

    .eye {
        width: 150px;
        height: 150px;
    }
    
    .info p {
        font-size: 14px;
    }
    
    .info a {
        font-size: 16px;
    }

    .eth p {
        font-size: 14px;
    }

    .due p {
        font-size: 14px;
    }

    .author p {
        font-size: 12px;
        bottom: 30px;
        right: 35px;
    }

    .attribution {
        font-size: 10px; 
        bottom: 0;
    }
    
}